<article>
    <img
      class="listing-photo"
      [src]="product?.photo"
      alt="Exterior photo of {{ product?.name }}"
      crossorigin
    />
    <section class="listing-description">
      <h2 class="listing-heading">{{ product?.name }}</h2>
     
    </section>
    <section class="listing-features">
      <h2 class="section-heading">Sobre esta pieza</h2>
      <ul>
        <li>Nombre: {{ product?.name }}</li>
        <li>Marca: {{ product?.brand }}</li>
        <li>Año: {{ product?.releaseYear }}</li>
        <li>Descripcion: {{ product?.description }}</li>
      </ul>
    </section>
    <section class="listing-apply">
      <h2 class="section-heading">Introduce el valor de tu puja</h2>
      <form [formGroup]="applyForm" (submit)="submitApplication()">
        <label for="valor">Valor</label>
        <input id="valor" type="number" formControlName="valor" />
        <button type="submit" class="primary">Apply now</button>
        <h3>La puja mas alta es: {{puja?.bid}}</h3>
      </form>
    </section>
  </article>